
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {*/

/*}*/

@media only screen and (min-width: 400px) and (min-height: 400px){
  .section{
    font-size: 13px;
  }
}

@media only screen and (min-width: 320px){
  #myMenu{
    padding-left:10px;
  }
  .divMenu{
    width:200px;
  }

  .nav-a{
    font-size: 110%;
  }
}

@media only screen and (min-width: 520px){
  .projects-container-left{
    width:20%;
    /* padding: 2%; */
  }

  .projects-container-right{
    width:76%;
  }

  #pcr-table{
  }
  .pcr-table-cell{
    width: 45%;
  }

  .personal-container-text{
    top: 50px;
  }

  #myMenu{
    padding-left:30px;
  }
  .divMenu{
    width:400px;
  }

  .nav-a{
    font-size: 120%;
  }

}



@media only screen and (min-width: 600px){
  .section{
    font-size: 14px;
  }
  .enterDiv-container-right-content {
    padding:20px;
  }

  .personal{
    height:550px;
  }
  .personal-pic::before{
    height:550px;
  }
}


@media only screen and (min-width: 700px){
  .section{
    font-size: 15px;
  }
  .contact-icons{
    font-size:30px;
  }
  .personal-container-text{
    top: 20%;
  }
}


@media only screen and (min-width: 500px) and (min-height: 500px){
  .enterDiv-container-right-content {
    top: 30%;
    left: 7%;
    padding:50px 15px;
  }
}

@media only screen and (min-width: 700px) and (min-height: 720px){

  .enterDiv-container-right-content {
    padding:100px 40px;
  }

}



@media only screen and (min-width: 800px) {
  .section{
    font-size: 16px;
  }
  .personal{
    height:600px;
  }
  .personal-pic::before{
    height:600px;
  }

}

@media only screen and (min-width: 1200px) {

  .personal{
    height:700px;
  }
  .personal-pic::before{
    height:700px;
  }
  .personal-container-text{
    top: 40%;
  }

  .pcr-table-cell{
    width: 30%;
  }

}



@media only screen and (min-height: 600px){
  .enterDiv-container-right-content {
    top: 30%;
  }
}
