
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {*/
    
/*}*/


@media screen and (min-width:350px){
    
    .message-text{
        width:300px;
    }
    
    .message-textArea{
        width:300px;
    }
}



@media screen and (min-width:400px){
    

    
    .section{
        font-size: 14px;
    }
    
    .enterDiv{
        font-size:95%;
    }
    
    .message-text{
        width:350px;
    }
    
    .message-textArea{
        width:350px;
    }
    
}

@media screen and (min-width:450px){
    
     .puzzle1, .puzzle2, .puzzle3, .puzzle4{
        width:35%;
    }
    .message-text{
        width:400px;
    }
    
    .message-textArea{
        width:400px;
    }
}

@media screen and (min-width:500px){
    
    
    .main-container{
        width:80%;
        margin-left: 10%;
    }
    
    
   
    .section{
        font-size: 16px;
    }
    
    .enterDiv{
        font-size:100%;
    }
    

    .message-text{
        width:450px;
    }
    
    .message-textArea{
        width:450px;
    }
    
    .divMenu{
        width:70%;
    }
    
    .close-nav{
        left:69%;
    }
   
  
}

@media screen and (min-width:600px){
    .message-text{
        width:500px;
    }
    
    .message-textArea{
        width:500px;
    }
    
    
    .enterDiv{
        font-size:105%;
    }
    
    .main-container{
        width:70%;
        margin-left: 15%;
    }
    
    .divMenu{
        width:60%;
    }
    
    .close-nav{
        left:59%;
    }
    
}


@media screen and (min-width:700px){
 
    .puzzle1, .puzzle2, .puzzle3, .puzzle4{
        width:30%;
    }
    
    
    .enterDiv{
        font-size:110%;
    }
    
    .message-text{
        width:550px;
    }
    
    .message-textArea{
        width:550px;
    }
    
    .divMenu{
        width:50%;
    }
    
    .close-nav{
        left:49%;
    }
    
}

@media screen and (min-width:900px){
    
    .enterDiv{
        font-size:120%;
    }
    
    .m-name{
        display:inline-block;
    }
    
    .m-email{
        display:inline-block;
        margin-left:5px;
    }
    
    .message-text{
        width:250px;
    }
    
    .message-textArea{
        width:515px;
    }
    
    .divMenu{
        width:40%;
    }
    
    .close-nav{
        left:39%;
    }
}

@media screen and (min-width:1100px){
   .puzzle1, .puzzle2, .puzzle3, .puzzle4{
        width:25%;
    }
    
    /*.message-text{*/
    /*    width:300px;*/
    /*}*/
    
    /*.message-textArea{*/
    /*    width:610px;*/
    /*}*/
    
    .enterDiv{
        font-size:130%;
    }
    
     .main-container{
        width:60%;
        margin-left:20%;
    }
    
    .divMenu{
        width:30%;
    }
    
    .close-nav{
        left:29%;
    }
}

@media screen and (min-width:1300px){

    .enterDiv{
        font-size:140%;
    }
}

@media screen and (min-width:1500px){
   
    .enterDiv{
        font-size:150%;
    }
    
    .main-container{
        width:50%;
        margin-left:25%;
    }
    
    .divMenu{
        width:25%;
    }
    
    .close-nav{
        left:23%;
    }
}

@media screen and (min-height: 350px){ 
   
    .message-textArea{
        height:120px;
    }
    
   
}


@media screen and (min-height: 450px){ 
    .message{
        margin-top:5px;
    }
    
     .message-text{
        height:25px;
    }
    
    .message-textArea{
        height:150px;
    }
    
    
}

@media screen and (min-height: 550px){ 
    
    
     .message-text{
        height:30px;
    }
    
    .message-textArea{
        height:200px;
    }
    
    .mainHomePic-container{
        height:55%;
    }
    
    #myMenu{
        margin-top:150px;
    }
}

@media screen and (min-height: 650px){ 
    
    
    .bigScreen{
        display: block;
    }
    
    .smallScreen{
        margin-top: 10px;
    }
    
    .message{
        margin-top:10px;
    }
    
     .message-text{
        height:35px;
    }
    
    .message-textArea{
        height:300px;
    }
 
    #myMenu{
        margin-top:200px;
    }
}


@media screen and (min-height: 720px){ 

    .message-textArea{
        height:360px;
    }
}

@media screen and (min-height: 760px){ 

     .message-text{
        height:40px;
    }
    
    .message-textArea{
        height:410px;
    }
}


@media screen and (min-height: 850px){ 

    .message-textArea{
        height:500px;
    }
    
    #myMenu{
        margin-top:250px;
    }
}

@media screen and (min-height: 1050px){ 

    .message-textArea{
        height:600px;
    }
    
    #myMenu{
        margin-top:300px;
    }
}

@media screen and (min-width: 400px) and (min-height: 700px) { 
    .mainPic{
        background-image: url('/pictures/main.jpg');
        background-attachment: fixed;
    }
    
    .SlidePic{
        background-image:url('/pictures/personal.jpg');
        background-attachment: fixed;
    }
  
    
}

@media screen and (min-width: 500px) and (min-height: 500px) { 

    .section{
        font-size: 16px;
    }
    
    
    .m-top{
        margin-top:25px;
    }
    
    .mainHomePic-container{
        width:15%;
    }
    
    .slideRelative{
        height:500px;
    }
    
    .SlidePic{
        height:500px;
    }
}


@media screen and (min-width: 600px) and (min-height: 500px) { 
}

@media screen and (min-width: 700px) and (min-height: 700px) { 
    
    .section{
        font-size: 18px;
    }
    
    /*.enterDiv{*/
    /*    font-size:105%;*/
    /*}*/
    
    .m-top{
        margin-top:30px;
    }
    
    .mainHomePic-container{
        width:20%;
    }
    
    
    
    .slideRelative{
        height:600px;
    }
    
    .SlidePic{
        height:600px;
    }
}

@media screen and (min-width: 900px) and (min-height: 800px) { 
    
    
    
    .smallScreen{
        margin-top:5px;
    }
    
    .bigScreen{
        display: block;
    }
    
    
    
    .section{
        font-size: 20px;
    }
    
    
    .m-top{
        margin-top:35px;
    }
    
    .slideRelative{
        height:700px;
    }
    
    .SlidePic{
        height:700px;
    }
}


@media screen and (min-width: 900px) and (min-height: 900px) { 
    .section{
        font-size: 22px;
    }
    
    /*.enterDiv{*/
    /*    font-size:110%;*/
    /*}*/
    
    
    .m-top{
        margin-top:40px;
    }
    
    .slideRelative{
        height:800px;
    }
    
    .SlidePic{
        height:800px;
    }
   
}

@media screen and (min-width: 1100px) and (min-height: 900px) { 

    /*.enterDiv{*/
    /*    font-size:120%;*/
    /*}*/
}

@media screen and (min-width: 1200px) and (min-height: 900px) { 
    .section{
        font-size: 24px;
    }

    /*.enterDiv{*/
    /*    font-size:130%;*/
    /*}*/
    
    .m-top{
        margin-top:45px;
    }
    
  
}